// :host{
//     display: flex;
//     flex-direction: row;
//     height: 100%;
    
//     #contenedorUnionLateral{
        
//     }

//     #contenedorUnionnotaEscritura{
//         flex:3;
//         #UnionnotaEscritura{
//             height: 100%;
//         }
        
//     }
//    }

:host{
    display: flex;
    flex-direction: row;

    app-lateral{
        background: #eeeeee;
    }
}


   