<!-- <div id="contenedorUnionLateral">

    <app-lateral id="Unionlateral"></app-lateral>
    
</div>

<div id="contenedorUnionNotaEscritura">

    <app-nota-escritura id="UnionnotaEscritura"></app-nota-escritura>  

</div> -->


<app-lateral></app-lateral>

<app-nota-escritura></app-nota-escritura>  