

<div id="contenedor">
        <div id="borde">
            <div id="contenedorlogin">
            
                <div id="imagen">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC
                9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZp
                bGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDI
                zMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJN
                MTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI
                0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0
                xNyA4My4zaC0zNGwx
                Ny00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

                <div id="logear">
                    <form (submit)="initSesion()">
                        
                        <div>
                            <input class="login" type="text" name="emailSesion" placeholder="Your Email" [(ngModel)]="emailSesion">
                        </div>
                        <div>
                            <input class="login" type="password" name="passwordSesion" [(ngModel)]="passwordSesion">
                        </div>  
                        <button class="btn-warning" type="submit">Entrar</button>
                    </form>
                
                    <!-- <input type="text" class="login" placeholder="Usuario">
                    <input type="password" class="login" placeholder="Contraseña">
                    <br>
                    <button class="btn-warning">Entrar</button> -->
                
                </div>
                    <div id="registro">
                        
                        <div id="texto">No estas registrado aún?</div> 
                        <a routerLink="/Register">Aquí</a>
                        <router-outlet></router-outlet>
                    
                    </div>
                </div>
            </div>
            </div>
    </div>