

#contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;

    #borde{
        display: flex;
        // border: 1px solid #333333;
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.34);
        
        padding: 25px;
        width: 400px;
        background: #eeeeee;

        #contenedorlogin{
            width: inherit;
            padding: 0px;
            margin: 0px;

            #imagen{
                justify-content: center;

                #logear{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    

                    input{
                        
                        width: 100%;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    button{
                        width: 100%;
                        

                    }
                }

                #registro{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 30px;
                    margin-top: 15px;
                    justify-content: center;

                    #texto{
                        
                        margin-left: 5px;
                        color: #333333;
                        
                    }

                    a{
                        margin-left: 5px;
                        color: #72a8ff;
                        text-decoration: none;
                    }
                }


            }
        }


    }


    
}









// button{
//     font-size: 22px;
//     color: white;
//     background-color: #72a8ff;
//     border: 0px;
//     height: 40px;
//     width: inherit;
// }





















