<form (submit)="sendEmail(message)">
    <div id="contenedor">
        
        <div id="borde">
        
            <div class="registro">
        
                <div id="titulo">
                    <h1>Registro</h1>
                </div>
                
                <input type="text" name="name" placeholder="Nombre usuario" class="login" [(ngModel)]="message.name">
                <input type="password" name="message" [(ngModel)]="message.message" placeholder="Contraseña" class="login">
                <input type="text" name="email" [(ngModel)]="message.email" placeholder="Correo" class="login">
        
            </div>

            <div id="ImagenUsuario">
                <input type="file" name="photo" id="photo" name="adjunto" accept=".pdf,.jpg,.png" multiple>
            </div>

            <div class="registro">
                <button class="btn-warning" >Hecho</button>
                <div id="texto" ><a routerLink="">Regresar</a></div>
            </div>
    
        </div>
            
    </div>

</form>   



