


#contenedor{
    width: 100%;
    height: 100%;
    padding: 10%;

    #borde{
        background: #eeeeee;
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.34);
        margin-left: 25%;
        margin-right: 25%;
        padding: 25px;
        width: 400px;

        .registro{
            
                display: flex;
                flex-direction: column;
                margin-top: 4px;
                margin-bottom: 4px;
                justify-content: center;
                align-items: center;

                #titulo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 300%;
                }
                input{
                    
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                    
                }

                button{
                    width: 50%;
                    margin-bottom: 10px;
                    
                }

                #texto{
                    margin-top: 0px;
                    margin-left: 5px;
                    margin-bottom: 0px;
                    
                }
            }

            #ImagenUsuario{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

            }




    }


}

