:host{

        width: 100%;
        height: 100%;
        display: flex;
        
        

        #barraLateral{
            display: flex;
            flex-direction: column;

            #lateralUsuario{
                background: #333333;
                color: #eeeeee;
                padding: 10px;
            }

            #lateralLibretas{
                border: 1px solid #333333;

                #contentLibretas{
                    border-bottom: 1px solid #333333;

                    #contentNotas{

                        border-top: 1px solid #dad8d8;
                    }
                }

                #crearLaLibreta{
                    color: #333333;
                    
                }

                
            }

            
            
           

            
            
        }
}

    

// #barraLateral{

//     height: 500px;
//     width: 250px;
//     margin: 0px;

//     #lateralUsuario{
//         height: 50%;
//         width: 100%;
//     }
//     #lateralLibretas{
//         height: 50%;
//         width: 100%;
//     }
// }