<div id="barraLateral">
  <div id="lateralUsuario"><span>{{texto}}</span> </div>
  
  <div id="lateralLibretas" >
    <div  id="contentLibretas" *ngFor="let l of libretas">
      <div>
          
        <h1>{{l.titulo}}</h1>
        <button (click)="eliminarLibreta(l.titulo)" class="btn-warning" >Eliminar Libreta</button>
        
      </div>
      <div id="contentNotas" *ngFor ="let n of l.notas">
        <h3>{{n.titulo}}</h3>
        <button (click)="eliminarNota(n.titulo)"class="btn-warning" >Eliminar nota</button>
        <!-- <input  id="crearLaNota" [(ngModel)]="crearNota">
        <button (click)="addNota(n.titulo)"class="btn-warning" >Crear nota</button> -->
      </div>
    </div>
  </div>
  <input  id="crearLaLibreta" [(ngModel)]="crearLibreta">
  <button (click)="addLibreta()" class="btn-warning">Crear libreta</button>
  
</div>