<!-- <app-lateral></app-lateral>
<app-centro></app-centro>
<app-login></app-login>
<app-register></app-register> -->

<a  id="routerLinkLogin"routerLink="Login">Login</a> <a routerLink="Register">Register</a> <a routerLink="MisNotas">MisNotas</a> 
<router-outlet></router-outlet>
{{hola}}
<!-- Routed views go here -->

